h2{
    color: red;
}

td{
    width: 35px;
    height: 35px;
    border: 1px solid black;
}

table{
    border-collapse: collapse;
}

tr:nth-child(even) td:nth-child(odd){
    background: black;
}
tr:nth-child(odd) td:nth-child(even){
    background-color: black;
}